.button {
	background-color: #262d42;

	border: 2px solid #c8d2e4;
	border-radius: 4px;
	padding: 16px 24px;
	margin: 0 4px;

	text-align: center;
	text-decoration: none;

	transition: opacity 0.4s;
	opacity: 0.9;

	&:hover {
		opacity: 1;
	}
}
