.footerLink {
	font-family: 'NES';

	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	text-shadow: .125em .125em black;

	margin: 0 1em;

	transition: opacity 0.4s;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

@font-face {
	font-family: 'NES';
	src: url('/assets/nes.woff');
}
