@use '../../styles/variables.scss' as *;

.smallTextBox {
	padding: 4px 0px;
	width: 100%;
	margin: auto;
	background-color:  rgba(25, 33, 66, 0.5);
}

.alisonIRLImage {
	width: 405px;
	height: 610px;
	border: $border;
}
