@use '../../styles/variables.scss' as *;

.smallTextBox {
	padding: 4px 0px;
	margin: auto;
	box-sizing: border-box;

	width: 100%;

	border: $border;
	background-color: $background-color;
}

.alisonIRLImage {
	width: 405px;
	max-width: 100%;
	height: 610px;

	box-sizing: border-box;

	border: $border;
}
