.sagging {
	margin: 0px 0px 24px;
}

.icon {
	width: 2em;
	height: 2em;
}

.externalLink {
	margin: 4px;
	padding: 10px;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}

.externalLinkLabel {
	flex-grow: 1;
	padding-left: 10px;
	padding-right: 2em;
}

.bigExternalLink .icon {
	width: 3em;
	height: 3em;
}

.externalLinks {
	width: 476px;
	max-width: calc(100% - 32px);
	display: flex;
    flex-direction: column;
}
