.sagging {
	margin: 0px 0px 24px;
}

.smallTextBox {
	padding: 4px 0px;
	width: 50%;
	margin: auto;
	background-color:  rgba(0, 0, 0, 0.3);
}

.gap {
	padding: 4px 0px;
}

.icon {
	width: 2em;
	height: 2em;
}

.externalLink {
	margin: 4px;
	padding: 10px;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}

.externalLinkLabel {
	flex-grow: 1;
	padding-left: 10px;
	padding-right: 2em;
}

.bigExternalLink .icon {
	width: 3em;
	height: 3em;
}

.externalLinks {
	width: 476px;
	max-width: calc(100% - 32px);
	display: flex;
    flex-direction: column;
}

.aliSittingImage {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1;

	opacity: 1;
	transition: opacity 0.4s;

	@media screen and (max-width: 1000px) {
		opacity: 0;
	}
}
