@use '../../styles/variables.scss' as *;

.musicList {
	width: 100%;
	height: 400px;

	scrollbar-color: currentColor transparent;

	border: $border;
	background-color: $background-color;
	margin: 16px 0px;
}

.musicListingsWrapper {
	overflow-y: auto;
	box-sizing: border-box;

	height: 100%;
	padding: 8px;

	mask-image: linear-gradient(to bottom, var(--mask-color-top), black 16px, black calc(100% - 16px), var(--mask-color-bottom));
}
