@use '../../styles/variables.scss' as *;

.musicList {
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	width: 508px;
	max-width: 100%;
	box-sizing: border-box;
	height: 400px;

	scrollbar-color: currentColor transparent;

	border: $border;
	background-color: $background-color;

	padding: 4px;
	margin: 16px 0px;
}