@use '../../styles/variables.scss' as *;

.iframe {
	border: 0;
	width: 100%;
	height: 120px;

	border: $border;
}

.iframeOnTopOfAnother {
	padding: 0px 4px;
}

.musicColumns {
	height: 100%;
	max-width: calc(100% - 32px);
}

.musicTextBoxes {
	display: flex;
    flex-direction: column;
}

.musicSmallTextBox {
	padding: 0px 4px;
	margin: 16px 0px;
	width: 496px;
	// border: $border;
	// background-color: $background-color;
	background-color:  rgba(0, 0, 0, 0.6);
}
