@use '../../styles/variables.scss' as *;

.iframe {
	border: 0;
	width: 584px;
	max-width: calc(100% - 32px);
	height: 120px;
}

.musicColumns {
	height: 100%;
	max-width: calc(100% - 32px);
}

.musicTextBoxes {
	display: flex;
    flex-direction: column;
}
